body {
    display: grid;
    grid-template-rows: 50px auto auto;
    grid-template-areas:
      "header"
      "main"
      "footer";
    background-color: whitesmoke;
    gap: 10px;
  }
  
  header {
    grid-area: header;
    justify-self: center;
    align-self: center;
  }
  
  .main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "map content";
  }
  
  #the_map {
    height: 80vh;
    grid-area: map;
  }
  
  #contents {
    grid-area: content;
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-areas:
      "survey"
      "buttons";
  }
  
  #theSurvey {
    grid-area: survey;
  }
  
  #placeForButtons {
    grid-area: buttons;
    display: subgrid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  #footer {
    grid-area: footer;
  }
  
  /* CSS for the button */
  #surveyButton {
    padding: 15px 32px;
    margin: 10px;
    background-color: #4caf50;
    cursor: pointer;
  }
  
  /* CSS for button to remove the underline */
  #surveyButton a {
    text-decoration: none;
  }
  